.modalBox {
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 400px;
    margin: auto;
    margin-top: 1%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 90vh;
    overflow-y: auto;
}

.title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.avatarLabel {
    display: none;
}

.avatar {
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    cursor: pointer;
    transition: opacity 0.3s;
}

.avatar:hover {
    opacity: 0.8;
}

.textField {
    font-size: 14px;
    margin-bottom: 16px;
    background-color: #fff;
    border-radius: 8px;
}