.footerMainContainer {
    background-color: #2d2f31;
    color: white;
    margin-top: 50px;
    padding-bottom: 10px;
}

.footAboveContainer {
    display: flex;
    padding-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.aboveFooterText {
    font-size: 16px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 12px;
}

.clientsListContainer {
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 50px;
    flex-wrap: wrap;
}


.clientsLogo {
    width: 100px;
    height: 100px;
}

.clientsLogo:hover {
    cursor: pointer;
}

.footerBelowContainer {
    display: flex;
    gap: 30px;
    justify-content: left;
    align-items: center;
    margin-left: 30px;
}

.footerSubContainerItem {
    font-size: 16px;
}

.footerSubContainerItem:hover {
    cursor: pointer;
}