 .loader {
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 200px;
 }

 .dot {
     border-radius: 100%;
     margin: calc(5px*2);
 }

 .dot:nth-child(1) {
     animation: preloader .6s ease-in-out alternate infinite;
     border: 10px solid rgb(188, 193, 193);
 }

 .dot:nth-child(2) {
     animation: preloader .6s ease-in-out alternate .1s infinite;
     border: 10px solid rgb(236, 125, 125);
 }
 
 .dot:nth-child(3) {
     animation: preloader .6s ease-in-out alternate .1s infinite;
     border: 10px solid rgb(225, 221, 10);
 }

 @keyframes preloader {
     100% {
         transform: scale(5);
     }
 }