.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 2px solid #d2d1d1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  flex-direction: row;
  z-index: 1000;
  font-size: 20px;
  line-height: 2rem;
  flex-wrap: wrap;
  padding: 0 20px;
}

.logo img {
  height: 35px;
  cursor: pointer;
}

.menuText {
  font-size: 16px;
  margin: 0 20px;
  cursor: pointer;
  font-weight: 700;
}

.menuText :hover {
  border-bottom: 2px solid black;
}

.navItem {
  margin: 0 15px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
}

.loginButton {
  background-color: #fff;
  border: 1px solid #333;
  cursor: pointer;
  margin-right: 10px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  padding: 8px 20px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
}

.loginButton:hover {
  background-color: #f8f8f8;
}

.signupButton {
  padding: 10px 20px;
  background-color: #333;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s ease;
  font-size: 16px;
  line-height: 14.8px;
  margin-right: 20px;
  border-radius: 4px;
}

.signupButton:hover {
  background-color: #000;
}