.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.cardsContainer {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 10px;
}

.cardsContainer::-webkit-scrollbar {
    width: 8px;
}

.cardsContainer::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.cardsContainer::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    margin-left: 1%;
}

.noEducator {
    color: black;
    font-size: 20px;
}

.card {
    width: 250px;
    height: auto;
    max-height: 400px;
    border-radius: 16px;
    box-shadow: 3;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin: 10px 5px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 6;
    z-index: 1000;
}

.cardMedia {
    object-fit: cover;
}

.cardTitle {
    font-weight: bold;
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.cardBio {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 1rem;
}

.cardInfo {
    margin-bottom: 1rem;
}

.paginationContainer {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    border-top: 1px solid #ddd;
}

.toolTip {
    background-color: #f8f8f8;
    color: black;
    padding: 8px;
    border-radius: 6px;
    font-size: 16px;
    margin: 0;
}