.questionContainer {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin-left: 10px;
    justify-content: center;
}

.optionImage {
    margin-left: 20px;
    background-color: white;
    padding: 1px 1px;
    border-radius: 8px;
    border: 2px solid black;
    width: 85vw;
}

.questionText {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
    width: 100%;
    padding: 20px 40px;
}

.option {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-left: 30px;
    margin-top: 15px;
    background-color: white;
    padding: 15px 15px;
    border-radius: 10px;
}

.optionText {
    padding-left: 10px;
}

.correctAnswer {
    background-color: rgb(10 247 52);
}

.wrongAnswer {
    background-color: #ff0000;
}